@font-face {
font-family: 'AvenirLight';
src: url('Avenir-Light-07.0f87d3ed.ttf');
}

@font-face {
font-family: 'AvenirRoman';
src: url('Avenir-Roman-12.5e177e9c.ttf');
}

@font-face {
font-family: 'AvenirBook';
src: url('Avenir-Book-01.d88b5c28.ttf');
}

@font-face {
font-family: 'AvenirMedium';
src: url('Avenir-Medium-09.2c564d4e.ttf');
}

@font-face {
font-family: 'AvenirHeavy';
src: url('Avenir-Heavy-05.cab84c3f.ttf');
}

@font-face {
font-family: 'Valencia';
src: url('Valencia.a0ebc654.ttf');
}